* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chatbotRobort {
  position: fixed;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  z-index: 999999;
  bottom: 20px;
  margin-bottom: 20px;
  right: 20px;
}
.chatbotRobort .img-borFixed {
  position: relative;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  cursor: pointer;
  width: 55px;
  height: 55px;
}
.chatbotRobort .company-chatWave {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #999;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  animation: chatWave 2s linear infinite;
}
.chatbotRobort .company-chatBoard {
  width: 174px;
  max-width: max-content;
  padding: 12px 22px 12px 12px;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(176, 176, 176, 0.5);
  border: solid 1px #e5e5e5;
  background-color: #fff;
  position: absolute;
  line-height: 1.64;
  letter-spacing: normal;
  color: #24272c;
  cursor: default;
  font-size: 14px;
  bottom: 20px;
  right: 60px;
  transition: opacity 0.5s ease, height 0.5s ease;
}
.chatbotRobort .company-chatBoard .thikse-close-msg {
  position: absolute;
  right: 5px;
  top: -4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #24272c;
  opacity: 1;
}
.chatbotRobort .chatBlock {
  position: fixed;
  border: none;
  background: none;
  z-index: 999999;
  width: 360px;
  bottom: 20px;
  margin-bottom: 20px;
  right: 20px;
  height: 80%;
  border-radius: 3px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.chatbotRobort .chatBlock .chatBlock-headerSub {
  line-height: 1;
  font-family: var(--font-menu);
  background: #fff;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
.chatbotRobort .chatBlock .chatBlock-inner {
  padding: 59px 0 0 0px;
  margin: 0px;
  min-height: 100%;
}
.chatbotRobort .chatBlock .chatBlock-inner .chatBlock-header {
  -webkit-box-shadow: 0 0.5px 9px 3px rgba(156, 156, 156, 0.2);
  box-shadow: 0 0.5px 9px 3px rgba(156, 156, 156, 0.2);
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 17px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
}
.chatbotRobort .chatBlock .chatBlock-inner .chatBlock-header .chatBlock-logoImg {
  display: inline-flex;
  align-items: center;
}
.chatbotRobort .chatBlock .chatBlock-inner .chatBlock-header .chatBlock-logoImg img {
  max-width: 205px;
  max-height: 60px;
  height: auto;
}
.chatbotRobort .chatBlock .chatBlock-inner .chatBot-logo {
  outline: none !important;
  transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  color: #282628;
  outline: 0;
}
.chatbotRobort .chatBlock .chatBlock-inner .right-close {
  display: inline-flex;
  margin-left: 10px;
  height: 100%;
  gap: 15px;
}
.chatbotRobort .chatBlock .chatBlock-inner .right-close a {
  display: inline-flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: #000;
  text-decoration: none;
}
.chatbotRobort .chatBlock .chatBlock-inner .right-close i {
  font-size: 22px;
}
.chatbotRobort .chatBlock .chatbot-circle .user-input {
  display: flex;
  align-items: center;
  gap: 10px;
}
.chatbotRobort .chatBlock .chatbot-circle .user-input label {
  text-wrap: nowrap;
  font-family: var(--font-menu);
  font-size: 18px;
  font-weight: 400;
}
.chatbotRobort .chatBlock .chatbot-circle .user-input select {
  height: 40px;
  border-radius: 50px;
  width: 100%;
  padding: 0 10px;
}
.chatbotRobort .chatBlock .chatbot-circle .bot-message {
  text-align: right;
}
.chatbotRobort .chatBlock a {
  outline: none !important;
  transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  color: #282628;
  outline: 0;
}
.chatbotRobort .chatbot-searcher {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0 20px;
  z-index: 5;
}
.chatbotRobort .chatbot-searcher .chatbot-searcherSub {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(201, 208, 219, 0.5);
  background: #fff;
  border-radius: 25px;
}
.chatbotRobort .chatbot-searcher .search-input {
  width: 100%;
  height: 50px;
  border-radius: 100px;
  outline: none;
  border: unset;
  padding: 0 15px;
  border-top-left-radius: 0;
}

.sendBtnCover {
  background: #3352ed;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  transform: rotate(45deg);
}

.chat-messages-content {
  height: calc(100vh - 335px);
  height: -o-calc(100vh - 335px);
  height: -webkit-calc(100vh - 335px);
  height: -moz-calc(100vh - 335px);
  overflow: auto;
}
.chat-messages-content .chatBot-textbox {
  position: fixed;
  bottom: 20px;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0 20px;
  z-index: 5;
}
.chat-messages-content .chatBot-textbox .power-thikse {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 10px;
  color: #909090;
}
.chat-messages-content .chatBot-textbox .power-thikse .thikse-copy {
  text-decoration: none;
  color: #909090;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.chat-messages-content .chatBot-textbox .power-thikse .thikse-copy .powered-icon {
  width: 16px;
  height: 16px;
  margin: 0 1px;
  display: flex;
}

.chat-space {
  padding: 15px;
}

@keyframes chatWave {
  0% {
    opacity: 0.4;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.message-container {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
.message-container span {
  white-space: pre;
  line-height: 1.4;
}
.message-container.user-message {
  display: flex;
}
.message-container.user-message:first-child {
  margin-top: 10px;
}
.message-container.user-message .user-message-sub {
  line-height: 1.4;
}
.message-container.bot-message {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  gap: 5px;
}
.message-container.bot-message .bot-message-sub {
  text-align: left;
  line-height: 1.4;
}

.user-message {
  background-color: #cce5ff;
}

.bot-message {
  background-color: #f0f0f0;
}

/*# sourceMappingURL=main.css.map */
